footer#footer
    div#social
        a.symbol(href='https://github.com/fuzhouxxdong')
            i.fa.fa-github
    p.small © Copyright 
        a(href='//www.calamus.xyz',target='_blank')  &nbsp; Calamus  &nbsp;
        span 2015~2018 &nbsp;
        i.fa.fa-heart(aria-hidden='true') &nbsp;Dxx
    p.small Powered by &nbsp;
        a(href='https://hexo.io/',target='_blank') Hexo &nbsp;
        | Theme By &nbsp;
        a(href='https://github.com/fuzhouxxdong/hexo-theme-dxx') Dxx

